.container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main ad"
    "menu footer footer footer footer footer";
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}

.container > div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: ad;
}
.item5 {
  grid-area: footer;
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "header"
      "main"
      "ad"
      "footer";
  }
  .item2 {
    display: none;
  }
}
